@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --_primary: rgb(0, 80, 255);
    --_secondary: rgb(255, 170, 0);

    --background: 255, 255, 255;
    --foreground: 15, 23, 42;

    --muted: 241, 245, 249;
    --muted-foreground: 100, 116, 139;

    --border: 226, 232, 240;
    --input: var(--border);

    --primary: 15, 23, 42;
    --primary-foreground: 248, 250, 252;

    --secondary: 241, 245, 249;
    --secondary-foreground: 15, 23, 42;

    --accent: 241, 245, 249;
    --accent-foreground: 15, 23, 42;

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --destructive: 255, 0, 0;
    --destructive-foreground: 248, 250, 252;

    --info: 239, 246, 255;
    --info-border: 147, 197, 253;
    --info-foreground: 30, 64, 175;

    --warning: 254, 252, 232;
    --warning-border: 253, 224, 71;
    --warning-foreground: 133, 77, 14;

    --success: 240, 253, 244;
    --success-border: 134, 239, 172;
    --success-foreground: 22, 101, 52;

    --error: 254, 242, 242;
    --error-border: 252, 165, 165;
    --error-foreground: 153, 27, 27;
    --error-form-foreground: 239, 68, 68;

    --ring: 148, 163, 184;

    --radius: 0.5rem;
  }

  .dark {
    --state-bg-dark: 31, 41, 55;

    --background: 3, 7, 17;
    --foreground: 225, 231, 239;

    --muted: 15, 22, 41;
    --muted-foreground: 127, 142, 163;

    --border: 29, 40, 58;
    --input: var(--border);

    --primary: 248, 250, 252;
    --primary-foreground: 2, 2, 5;

    --secondary: 15, 23, 42;
    --secondary-foreground: 248, 250, 252;

    --accent: 29, 40, 58;
    --accent-foreground: 248, 250, 252;

    --popover: var(--background);
    --popover-foreground: var(--muted-foreground);

    --destructive: 129, 29, 29;
    --destructive-foreground: 248, 250, 252;

    --info: var(--state-bg-dark);
    --info-border: 30, 64, 175;
    --info-foreground: 96, 165, 250;

    --warning: var(--state-bg-dark);
    --warning-border: 133, 77, 14;
    --warning-foreground: 253, 224, 71;

    --success: var(--state-bg-dark);
    --success-border: 22, 101, 52;
    --success-foreground: 74, 222, 128;

    --error: var(--state-bg-dark);
    --error-border: 153, 27, 27;
    --error-foreground: 248, 113, 113;
    --error-form-foreground: 185, 28, 28;

    --ring: 29, 40, 58;

    --radius: 0.5rem;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer components {
  .dashboard-grid-container {
    display: grid;
    grid-template-areas:
      'sidebar header header'
      'sidebar main main'
      'sidebar main main';
    grid-auto-columns: auto 1fr;
    grid-auto-rows: auto 1fr;
  }

  .dashboard-header {
    grid-area: header;
  }

  .dashboard-sidebar {
    grid-area: sidebar;
  }

  .dashboard-main {
    grid-area: main;
  }

  .gradient-text-stroke {
    font-size: theme('fontSize.9xl');
    background-color: theme('colors.foreground');
    background-image: linear-gradient(
      45deg,
      var(--_primary),
      var(--_secondary)
    );
    color: theme('colors.background');
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 15px;
  }
}
