@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 15, 23, 42;

    --muted: 241, 245, 249;
    --muted-foreground: 100, 116, 139;

    --border: 226, 232, 240;
    --input: var(--border);

    --primary: 15, 23, 42;
    --primary-foreground: 248, 250, 252;

    --secondary: 241, 245, 249;
    --secondary-foreground: 15, 23, 42;

    --accent: 241, 245, 249;
    --accent-foreground: 15, 23, 42;

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --destructive: 255, 0, 0;
    --destructive-foreground: 248, 250, 252;

    --warning: 254, 252, 232;
    --warning-border: 253, 224, 71;
    --warning-foreground: 133, 77, 14;

    --ring: 148, 163, 184;

    --radius: 0.5rem;

    /* used for adding vars to jsx style prop */
    --_gradient-strips: rgb(var(--border));
    --_background: rgb(var(--background));
  }

  .dark {
    --background: 3, 7, 17;
    --foreground: 225, 231, 239;

    --muted: 15, 22, 41;
    --muted-foreground: 127, 142, 163;

    --border: 29, 40, 58;
    --input: var(--border);

    --primary: 248, 250, 252;
    --primary-foreground: 2, 2, 5;

    --secondary: 15, 23, 42;
    --secondary-foreground: 248, 250, 252;

    --accent: 29, 40, 58;
    --accent-foreground: 248, 250, 252;

    --popover: var(--background);
    --popover-foreground: var(--muted-foreground);

    --destructive: 129, 29, 29;
    --destructive-foreground: 248, 250, 252;

    --warning: 31, 41, 55;
    --warning-border: 133, 77, 14;
    --warning-foreground: 253, 224, 71;

    --ring: 29, 40, 58;

    --radius: 0.5rem;

    /* used for adding vars to jsx style prop */
    --_gradient-strips: rgba(var(--border), 0.15);
    --_background: rgb(var(--background));
  }
}

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
